# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
dev-dist/
build/

# Vite
/.vite

# TypeScript
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
.DS_Store

# Misc
coverage/

.vercel
